.icu-side-nav {
    border-right: 1px solid rgb(41, 38, 38);
    .nav__container {
      display: grid;
      font-size: 1.5rem;
      grid-template-rows: 13em auto;
      padding: 16px 20px 16px;
      .nav__brand {
        &.logo {
          height: 100px;
          margin-top: 16px;
          background-image: url('../../assets/text.txt');
          background-size: cover;
        }
      }
      .nav__items {
        display: grid;
        height: auto; 
        grid-template-rows: repeat(7, 6rem)  auto;
        .nav__link {
          display: grid;
          width: 100%;
          height: 4rem;
          align-items: center;
          a {
            width: 100%;
            // height: 40px;
            display: grid;
            align-items: center;
            grid-template-columns: 4.5rem 1fr;
            text-decoration: none;
            color: white;
          }
          &:hover, &:checked, &.active{
            background-color: rgb(102, 97, 91);
            border-radius: 2rem;
          }
          i {
            padding-left: 1rem;
            font-size: 2em;
          }
          &.more-setting {
            align-self: flex-end;
            display: grid;
            align-items: center;
            color: white;
            .input-action {
              position: relative;
              input {
                display: none;
              }
              label {
                display: grid;
                align-items: center;
                grid-template-columns: 45px 1fr;
              }
            }
            .popup-actions {
              display: none;
              bottom: 4rem;
              transition: .5s all;
              min-width: 21rem;
              
            }
            #toggle:checked ~ .popup-actions {
              display: grid;
              height: auto;
              width: 13vw;
              position: absolute;
              border: 1px solid #1e1e1e;
              background-color: #1e1e1e;
              border-radius: 5px;
              padding: 10px;
              bottom: 0px;
              left: 2%;
              min-width: 210px;
              bottom: 40px;
  
              .actions {
                display: grid;
                grid-auto-rows: 35px;
              }
              li {
                width: 100%;
                list-style:none;
              }
              a.subMenu-item {
                display: grid;
                grid-template-columns: 1fr 35px;
              }
            }
            
          }
        }
      }
    }
}
